/* Palette: http://paletton.com/#uid=32M170kllmpqwJznZtHiteOfv76 */

$color-primary-0: #3F9431;
$color-primary-1: #42E728;
$color-primary-2: #45C431;
$color-primary-3: #316229;
$color-primary-4: #1B2F18;

$color-secondary-1-0: #B3913B;
$color-secondary-1-1: #FFC32C;
$color-secondary-1-2: #EDBA3B;
$color-secondary-1-3: #766332;
$color-secondary-1-4: #39311D;

$color-secondary-2-0: #502F79;
$color-secondary-2-1: #7933D2;
$color-secondary-2-2: #6332A0;
$color-secondary-2-3: #382650;
$color-secondary-2-4: #1D1526;

body {
    background-color: $color-primary-0;
}