@import '../../../node_modules/baguettebox.js/src/baguetteBox.scss';

@import '_tiles.scss';
@import '_vcenter.scss';

/* Palette: http://paletton.com/#uid=32M170kllmpqwJznZtHiteOfv76 */

$color-primary-0: #3F9431;
$color-primary-1: #42E728;
$color-primary-2: #45C431;
$color-primary-3: #316229;
$color-primary-4: #1B2F18;

$color-secondary-1-0: #B3913B;
$color-secondary-1-1: #FFC32C;
$color-secondary-1-2: #EDBA3B;
$color-secondary-1-3: #766332;
$color-secondary-1-4: #39311D;

$color-secondary-2-0: #502F79;
$color-secondary-2-1: #7933D2;
$color-secondary-2-2: #6332A0;
$color-secondary-2-3: #382650;
$color-secondary-2-4: #1D1526;

body {
    /* Padding to account for the static nav bar */
    padding-top: 70px;

    /*background-color: $color-primary-0;*/
}

.account-wall {
    margin-top: 80px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:focus {
            z-index: 2;
        }
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}